<h1>New User</h1>
<%= simple_form_for @user do |f| %>
	<%= f.input :name %>
	<%= f.input :email %>

	<br />

	<%= f.submit 'Create', :class => 'btn btn-danger' %>
 <% end %>

<%= link_to 'Back', users_path %>
